/* || General page styles */

html {
    background-color: rgb(201, 201, 201);
}

body {
    margin: 0 auto;
    max-width: 75%;
}

a, a:visited {
    text-decoration: none;
    color: inherit;
}

/* || Header and navigation */

.header {
    text-align: center;
}

.header__homepage-link, .header__homepage-link:visited {
    text-decoration: none;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 40px;
    color: rgb(48, 48, 48);
}

.outer-content {
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    background-color: white;
}

.whereami {
    margin: 20px 0;
}

.whereami__action {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    margin: 4px;
}

.whereami__action--in-tasklist {
    font-size: 20px;
}

/* || Content */

.main__message {
    font-style: italic;
}

.main-list {
    font-family: 'Open Sans', sans-serif;
    margin: 20px 0;
}

ul.main-list {
    margin: 0;
    padding: 0;
}

/* formerly targeting .main-list__entry */
.main-list > * {
    display: block;
    margin: 10px 0;
    border: 2px solid rgb(158, 158, 158);
    border-radius: 8px;
    padding: 4px;
}

.main-list > *:hover {
    border-width: 4px;
}

.main-list__entry {
    padding: 8px;
}

.main-list__entry-info {
    padding: 4px;
    font-size: 16px;
}

.button, .button:visited {
    --button-height: 30px;

    display: inline-block;
    height: var(--button-height);
    margin: 4px;
    border: 4px solid rgb(107, 159, 255);
    border-radius: 5px;
    padding: 4px 8px;
    background-color: rgb(88, 113, 255);

    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    text-align: center;
    color: white;
    line-height: var(--button-height);
}

.button:hover {
    background-color: rgb(153, 188, 253);
    cursor: pointer;
}

.button:active {
    background-color: rgb(51, 82, 255);
}

input.button, input.button:visited {
    box-sizing: content-box;
    line-height: unset;
}

.button--red {
    border: 4px solid rgb(253, 123, 123);
    background-color: rgb(221, 69, 69);
}

.button--red:hover {
    background-color: rgb(255, 180, 180);
}

.button--red:active {
    background-color: rgb(165, 50, 50);
}

.button--yellow {
    border: 4px solid rgb(255, 187, 61);
    background-color: rgb(219, 162, 56);
}

.button--yellow:hover {
    background-color: rgb(255, 210, 125);
}

.button--yellow:active {
    background-color: rgb(97, 71, 23);
}

.button--green {
    border: 4px solid rgb(91, 206, 91);
    background-color: rgb(51, 177, 51);
}

.button--green:hover {
    background-color: rgb(136, 206, 136);
}

.button--green:active {
    background-color: rgb(32, 110, 32);
}
