<!DOCTYPE html>
<html>
    <head>
        {% if title %}
        <title>{{ title }} - WillDo</title>
        {% else %}
        <title>WillDo</title>
        {% endif %}

        {% block resources %}
        {# Taken from https://fonts.google.com/?selection.family=Bebas+Neue|Noto+Serif:ital,wght@0,400;0,700;1,400;1,700|Open+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700|Poppins:ital@0;1&category=Serif#standard-styles #}
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Poppins:ital@0;1&display=swap" rel="stylesheet">

        <link href="{{ url_for('static', filename='styles/main.css') }}" rel="stylesheet">
        {% endblock resources %}
    </head>
    <body>
        {% block body %}
        
        <header class="header">
            {% block header %}
            <h1><a class="header__homepage-link" href="{{ url_for('mainpage_bp.select_tasklist') }}">Willdo</a></h1>
            {% endblock header %}
        </header>

        {% block outer_content %}
        <div class="outer-content">

            <div class="whereami">
                {% block title_display %}
                <h2 class="whereami__action">{{ title }}</h2>
                {% endblock title_display %}
            </div>

            <div class="content">
                {% block content %}
                {% endblock content %}
            </div>

        </div>
        {% endblock outer_content %}

        {% endblock body %}
    </body>
</html>