{% extends 'base.html' %}
{% if tasklist_name %}
{% set title = 'Editing tasklist' %}
{% else %}
{% set title = 'Creating tasklist' %}
{% endif %}

{% block resources %}
{{ super() }}
<link href="{{ url_for('static', filename='styles/actual-form.css') }}" rel="stylesheet">
{% endblock resources %}

{% block content %}
{% if invalid %}
<div class="message message--bad">One or more fields were invalid.</div>
{% endif %}

<form class="form-input" method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    
    <label class="form-input__label" for="name">Name</label>
    <input class="form-input__text-input form-input__text-input--long" type="text" id="name" name="name" pattern="^.*\w.*$" value="{{ tasklist_name }}">
    
    <div class="form-input__label form-input__label--no-margin">
        <input class="button" type="submit" value="Submit">
    </div>
</form>
{% endblock content %}