{% extends 'base.html' %}

{% block content %}
<div class="common-actions">
    <a class="button" href="{{ url_for('mainpage_bp.create_tasklist') }}">New tasklist</a>
</div>

{% if tasklists %}
<form class="search-bar" action="{{ url_for('mainpage_bp.process_search') }}" method="POST">
    <input class="search-bar__text-input" type="text" id="search-input" name="search-input">
    <input class="button search-bar__button" type="submit" name="search" value="Search">
</div>
{% endif %}

<div>
    {% if not tasklists %}
    <em class="main__message">There are currently no tasklists.</em>
    {% else %}
    <ul class="main-list">
        {% for tasklist in tasklists %}
        <li class="main-list__entry">
            <a class="main-list__entry-info" href="{{ url_for('tasklist_bp.list_tasks', tasklist_id=tasklist.id) }}">{{ tasklist.name }}</a>
        </li>
        {% endfor %}
    </ul>
    {% endif %}
</div>
{% endblock content %}