{% extends 'within_tasklist/base.html' %}
{% block title_display %}
{{ super() }}
{% if task %}
<h3 class="whereami__action whereami__action--in-tasklist">Edit task</h3>
{% else %}
<h3 class="whereami__action whereami__action--in-tasklist">Create task</h3>
{% endif %}
{% endblock title_display %}

{% macro getValue(object, name) %}
{%- if object is defined -%}
{{ object|attr(name) }}
{%- else -%}
{%- endif -%}
{% endmacro %}

{% block content %}
<form class="form-input" method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

        <label class="form-input__label" for="priority">Priority: </label>
        <input class="form-input__text-input" type="text" id="priority" name="priority" maxlength="8" pattern="[A-Za-z]{1,8}" value="{{ getValue(task, 'priority') }}">
    
        <label class="form-input__label" for="completion-date">Completion Date: </label>
        <input class="form-input__text-input" type="date" id="completion-date" name="completion-date" value="{{ getValue(task, 'completion_date') }}">
    
        <label class="form-input__label" for="creation-date">Creation Date: </label>
        <input class="form-input__text-input" type="date" id="creation-date" name="creation-date" value="{{ getValue(task, 'creation_date') }}">
    
        <label class="form-input__label" for="description">Description: </label>
        <input class="form-input__text-input form-input__text-input--long" type="text" id="description" name="description" value="{{ getValue(task, 'description') }}">
    
    <input type="submit" value="Submit" class="button">
</form>
{% endblock content %}