{% extends 'within_tasklist/base.html' %}

{% block content %}
<form action="{{ url_for('tasklist_bp.perform_edit_action', tasklist_id=tasklist_id) }}" method="POST">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

    <div class="common-actions">
        <input class="button" type="submit" name="create-task" value="New task">
        {% if tasks %}
        <input class="button button--green" type="submit" name="mark-tasks-complete" value="Mark tasks complete">
        <input class="button button--yellow" type="submit" name="mark-tasks-incomplete" value="Mark tasks incomplete">
        <input class="button button--red" type="submit" name="delete-tasks" value="Delete tasks">
        {% endif %}
    </div>

    <div>
        {% if not tasks %}
        <em class="main__message">There are currently no tasks on the list.</em>
        {% else %}
            <ul class="main-list">
                {% for task in tasks %}
                <li class="main-list__task-entry">
                    <input class="main-list__task-entry-info main-list__task-entry-info--checkbox" type="checkbox" name="task-selected" value="{{ task.id }}">
                            <div class="main-list__task-entry-info main-list__task-entry-info--completion-status">
                                {% if task.is_complete %}
                                yes
                                {% endif %}
                            </div>
                            <div class="main-list__task-entry-info main-list__task-entry-info--priority">
                                {{ task.priority }}
                            </div>
                            <div class="main-list__task-entry-info main-list__task-entry-info--completion-date">
                                {{ task.completion_date }}
                            </div>
                            <div class="main-list__task-entry-info main-list__task-entry-info--creation-date">
                                {{ task.creation_date }}
                            </div>
                            <div class="main-list__task-entry-info main-list__task-entry-info--description">
                                <a href="{{ url_for('tasklist_bp.edit_task_details', tasklist_id=tasklist_id, task_id=task.id) }}">{{ task.description }}</a>
                            </div>
                </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
</form>
{% endblock content %}